.header {
  display: flex;
  justify-content: flex-end;
  padding-left: 100px;
  margin-top: 1em;
  background-color: #f8f8f8;
  position: relative; /* or absolute, depending on your need */
  left: -10px; /* Adjust the value to move the element left */

}

.nav a, .nav div {
  margin: 0 3px; /* Reduce the space between the links and div */
  text-decoration: none;
  color: black;
  font-size: 16px;
  
}

.nav a:hover, .nav div:hover {
  color: #007bff; /* Hover color */
}

/* Keep everything else as is */
.faq-content {
  margin: 50px auto;
  width: 70%;
  background-color: white;
  border: 10px solid #d3d3d3;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-title {
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #d3d3d3;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px 0;
}

.faq-toggle {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.logo {
  margin-left: 10px; /* Adjust the value to move further left */
  margin-top: -20px;
}

.social-media-icons {
  display: flex;
  align-items: center;
}

.social-media-icons a {
  color: black;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}

.social-media-icons a:hover {
  color: #007bff;
}

.copyright
{
  position: relative; /* or absolute, depending on your need */
  left: -18px; /* Adjust the value to move the element left */
}